body {
    background-image: url(../images/jinxiubangone.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: #ff69b4;
}

.progress {
    display: inline-block;
    width: 200px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    line-height: 4px;
    margin-right: 5px;
    padding: 2px;
}

.progress i {
    display: inline-block;
    width: 0%;
    height: 100%;
    border-radius: 4px;
    background: #71c371;
}

a:link,
a:visited {
    color: #ff69b4;
    text-decoration: none;
}

a:hover {
    color: #ffc0cb;
    text-decoration: underline;
}

a:active {
    color: #ff1493;
}