body,
div,
h1 {
    margin: 0;
    padding: 0;
}

body {
    background: url(images/luori.jpeg) no-repeat;
    background-size: cover;
    position: relative;
}

/*---------------------------------------太极图-----------------*/
#box {
    position: absolute;
    width: 1000px;
    height: 100px;
    top: 200px;
    left: 259px;
}

#box .box {
    position: relative;
    width: 100px;
    height: 50px;
    background-color: #ffc0cb;
    background-size: cover;
    border-width: 2px 2px 50px;
    border-color: #00ffff;
    border-style: solid;
    border-radius: 50%;
    animation: lqc 5s infinite linear;
}

#box .box::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(images/two.jpeg);
    background-size: cover;
    border-radius: 50%;
    border: 15px solid #00ffff;
    top: 50%;
}

#box .box::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(images/six.jpeg);
    background-size: cover;
    border-radius: 50%;
    border: 15px solid #ffc0cb;
    top: 50%;
    left: 50%;
}

@keyframes lqc {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#box .box:nth-child(1) {
    float: left;
}

#box .box:nth-last-child(1) {
    float: right;
}

/*---------------------------------------------------------*/
#box h1 {
    font-family: '幼圆';
    color: #ffc0cb;
    width: 700px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    display: inline-block;
    margin: 0 46px;
}

/*-----------------------------------字体------------------------------------*/
#font {
    width: 550px;
    height: 100px;
    position: absolute;
    top: 320px;
    left: 485px;
    text-shadow: 0 0 20px #fff, 0 0 40px #fff, 0 0 60px #ffc0cb, 0 0 80px #ffb6c1;
}

#font .font-on {
    display: flex;
    justify-content: center;
}

#font .font-on span {
    font-size: 30px;
    padding: 0 0.5em;
    font-weight: bold;
    transform: rotateY(-90deg);
    animation: yxs 5s forwards;
    background-image: -webkit-linear-gradient(left, #c71585 0%, #ffc0cb 50%);
    color: transparent;
    -webkit-background-clip: text;
}

#font .font-under {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

#font .font-under span {
    font-size: 20px;
    padding: 0 0.5em;
    font-weight: bold;
}

#font .font-under a {
    text-decoration: none;
    transform: rotateY(-90deg);
    animation: yxs 10s forwards;
    background-image: -webkit-linear-gradient(left, #c71585 0%, #00ffff 50%);
    color: transparent;
    -webkit-background-clip: text;
}

@keyframes yxs {
    to {
        transform: rotateY(0);
    }
}

/*#font .font-on span:nth-child(1),
        #font .font-on span:nth-child(2),
        #font .font-on span:nth-child(3),
        #font .font-on span:nth-child(4),
        #font .font-on span:nth-child(5),
        #font .font-on span:nth-child(6),
        #font .font-on span:nth-child(7),
        #font .font-on span:nth-child(8),
        #font .font-on span:nth-child(9) {
            animation-delay: 1s;
        }*/
#font .font-on span {
    animation-delay: 1s;
}

#font .font-under a {
    animation-delay: 4s;
}