body,
div,
h1 {
    margin: 0;
    padding: 0;
}

body {
    background: url(images/luori.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-size: 62.5%;
    text-align: center;
}
h1{font:bolder 40px '幼圆';display:block;color: #ffc0cb;position: absolute;;top: 30%;left: 27%;}
/*---------------------------------------太极图-----------------*/
.box {
    position: relative;
    display: inline-block;
    width: 6%;
    padding-bottom: 3%;
    background-color: rgb(147, 108, 91);
    border-width: 2px 2px 50px;
    border-color: rgba(54, 35, 28);
    border-style: solid;
    border-radius: 50%;
    animation: lqc 5s infinite linear;
}
.box::before {
    position: absolute;
    content: "";
    width: 19%;
    height: 38%;
    background-image: url(images/two.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: local;
    border-radius: 50%;
    border: 13px solid rgba(147, 108, 91);
    top: 50%;
    left: 51.5%;
}
.box::after {
    position: absolute;
    content: "";
    width: 19%;
    height: 38%;
    background-image: url(images/six.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: local;
    border-radius: 50%;
    border: 15px solid rgba(54, 35, 28);
    top: 50%;
    right: 48.5%;
}
.one{margin:  12.5% 30% 5% 0%;}
.two{margin:  12.5% 0% 5% 30%;}

@keyframes lqc {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*-----------------------------------字体------------------------------------*/
#font {
    width: 100%;
    text-shadow: 0 0 20px #fff, 0 0 40px #fff, 0 0 60px #ffc0cb, 0 0 80px #ffb6c1;
    display: block;
    position: absolute;
    top: 10%;
}

#font .font-on {
    width: 100%;
    height:15%;
    display: flex;
    justify-content: space-around;
    font:bolder 40px '幼圆';
    color: #ffc0cb;
}
#font .font-under{ width: 100%;height:15%;margin-top: 15%;}
#font .font-under a{font:bolder 40px '幼圆';color: #ffc0cb;text-decoration: none;}
#font .font-under a span{
    background-image: -webkit-linear-gradient(left, #06869c 0%, #bdb10b 50%,#ee8181 100%);
    color: transparent;
    -webkit-background-clip: text;
    padding: 0 5px;
}
#font .font-on span,
#font .font-under a span{transform: rotateY(-90deg);animation: yxs 5s forwards;}

@keyframes yxs {
    to {
        transform: rotateY(0);
    }
}

#font .font-on span:nth-child(1) {
    animation-delay: 1s;
}
#font .font-on span:nth-child(2) {
    animation-delay: 1.5s;
}
#font .font-on span:nth-child(3) {
    animation-delay: 2s;
}
#font .font-on span:nth-child(4) {
    animation-delay: 2.5s;
}
#font .font-on span:nth-child(5) {
    animation-delay: 3s;
}
#font .font-on span:nth-child(6) {
    animation-delay: 3.5s;
}
#font .font-on span:nth-child(7) {
    animation-delay: 4s;
}
#font .font-on span:nth-child(8) {
    animation-delay: 4.5s;
}
#font .font-on span:nth-child(9) {
    animation-delay: 5s;
}
#font .font-under a span{
    animation-delay: 1s;
}