body {
    background-image: url(lmy.jpeg);
    background-repeat:no-repeat ;
    background-size:100% 100%;
    background-attachment: fixed;
    color: #ff69b4;
}

p {
    font-size: 30px;
    color: #dc143c;
}

a:link,
a:visited {
    color: #ff69b4;
    text-decoration: none;
}

a:hover {
    color: #ffc0cb;
    text-decoration: underline;
}

a:active {
    color: #ff1493;
}