body {
    text-align: center;
    background-repeat:no-repeat ;
    background-size:100% 100%;
    background-attachment: fixed;
    background-image: url(lmyailqc.jpeg);
    color: #ff69b4;
}

a:link,
a:visited {
    color: #ff69b4;
    text-decoration: none;
}

a:hover {
    color: #ffc0cb;
    text-decoration: underline;
}

a:active {
    color: #ff1493;
}