body {
    text-align: center;
    background-image: url(../images/mingrenbangone.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: #ff69b4;
}

.box {
    width: 250px;
    height: 52px;
    padding: 15px 30px;
    border: 2px solid #ccc;
    border-radius: 16px;
    margin: 0 auto;
}

.box .count {
    width: 60px;
    color: #666;
    font-size: 280%;
    line-height: 50px;
    padding-left: 6px;
    margin-left: 5px;
    border: 1px solid #fff;
}

.box div {
    margin-left: 5px;
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #666;
}

.gray {
    background-color: #eee;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: #26ff00;
}

a:link,
a:visited {
    color: #ff69b4;
    text-decoration: none;
}

a:hover {
    color: #ffc0cb;
    text-decoration: underline;
}

a:active {
    color: #ff1493;
}